*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body{
    font-family: 'Playfair Display', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}
.section-hero {
    background-color: #e5ffcc;
}
.hero{
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}
.heading-primary{
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.05;
    color: a5ff4d;
    letter-spacing: 0.5px;
    margin-bottom: 3.2rem;
}
.hero-description {
font-size: 2rem;
line-height: 1.6;
margin-bottom: 4.8rem;
}
.hero-img-box{
width: 100%;
}
.btn:link,
.btn:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;

    padding: 1.6rem 3.2rem;
    border-radius: 10px;
transition: background-color 300ms;
}
.btn-full:link,
.btn-full:visited{
background-color: #7fff00;
color: #fff;
}
.btn-full:hover,
.btn-full:active{
background-color: #336600;
}
.btn-outline:link,
.btn-outline:visited{
background-color: #f2ffe6;
color: #000;
}

.btn-outline:hover,
.btn-outline:active{
background-color: gray;
}




